// color 

$white: #fff;
$black: #000;
$lineColor: #dedede;
$textColor: #454545;
$textLight: #767676;
$primary: #3B405D;
$second: #4866db;
$third: #33dc9e;
$red:#F94450;
$bgColor : #E9EDF7;
$gray: #f5f5f5;