/*   Main   */

@import "compass/css3";
@import "color";
@import "mixin";
@import "form";
@import "layout";
@import "modal";
@import "lnb";


.col2flex{
	display: flex;
}
//button
.btn-wrap{
	width: 100%;
	display: flex;
	.pri{
		box-sizing: border-box;
		display: block;
		width: 80px;
		line-height: 38px;
		border-radius: 36px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: -0.05em;
		color: $white;
		text-align: center;
		background-color: $primary;
	}
	&.sec{
		border: 1px solid $white;
		background-color: $primary;
	}
	
}






