@charset "UTF-8";
/*   Main   */
/* form */
.select-wrap { width: 100%; position: relative; height: 27px; display: inline-block; 	/*&:after{
		content: "";
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		right: 15px;
		background: url("../_images/_form/icon-s-caret-down.png")no-repeat center;
		background-size: contain; //z-index: -1;
	}*/ }
.select-wrap select { font-family: 'Montserrat'; font-weight: 500; font-size: 10px; width: 100%; padding-left: 15px; border: 1px solid #3C4352; vertical-align: middle; height: 27px; border-radius: 5px; background: url("../_images/_form/icon-s-caret-down.png") no-repeat top 5px right 11px #fff; background-size: 16px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #999999; }

.input-btn { display: flex; }
.input-btn input[type="text"] { width: calc(100% - 130px); }
.input-btn button { margin-left: 10px; }

select::-ms-expand { display: none; }

input:disabled { background: #f5f5f5; color: #979797; }

input::placeholder { color: #8A92A7; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { display: inline-block; width: 100%; line-height: 38px; height: 40px; padding: 0 10px; font-size: 14px; letter-spacing: -0.59px; border: 1px solid #565D6C; vertical-align: middle; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="text"].price, input[type="password"].price, input[type="tel"].price, input[type="email"].price { text-align: right; }

input:focus, textarea:focus { border: 1px solid #FF7335; }

textarea { width: 100%; height: 120px; padding: 10px; border: 1px solid #3C4352; color: #CCCCCC; line-height: 1.5; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
input[type="radio"]:focus, input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }

input[type="radio"] + label, input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 25px; cursor: pointer; color: #CCCCCC; min-width: 20px; min-height: 20px; line-height: 20px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 20px; position: relative; }
input[type="radio"] + label:before, input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 20px; height: 20px; vertical-align: middle; margin-right: 10px; border: 1px solid #3C4352; background: #fff; }
input[type="radio"] + label:last-of-type, input[type="checkbox"] + label:last-of-type { margin: 0; }

input[type="radio"] + label:before { border-radius: 100%; }

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before { background: url("../_images/_form/form_check@2x.png") no-repeat center #FF7335; background-size: 15px; border: none; }

input[type="file"] { width: 100%; margin: 0px; border: 1px solid #3C4352; height: 40px; border-radius: 10px; box-sizing: border-box; }

/*
//1. 인풋 스타일 변경
.filebox .upload-name{
	display: inline-block; height: 40px; padding: 0 10px; vertical-align: middle; border: 1px solid #dddddd; width: 78%; color: #999999;
}
//2. label 스타일 변경
.filebox label { display: inline-block; padding: 10px 20px; color: #fff; vertical-align: middle; background-color: #999999; cursor: pointer; height: 40px; margin-left: 10px;
}
//3. 기존 디자인 없애기
.filebox input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;
}
*/
input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #3b405d; line-height: 38px; height: 40px; margin: 0px; width: 100px; cursor: pointer; margin-right: 10px; font-size: 14px; letter-spacing: -0.59px; }

/*.btn-input-file{
	width: 100px;
	background: $primary;
	color: $white;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	
}*/
input[type="file"]::-ms-value { border: 0; height: 40px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

/*.filebox {
	.upload-name {
		height: 40px;
		vertical-align: middle;
		border: 1px solid $lineColor;
		width: 320px;
		color: $textColor;
		border-radius: 10px;
		padding-left: 10px;
	}
	label {
		//display: inline-block;
		padding: 10px 20px;
		color: #fff;
		vertical-align: middle;
		background-color: $primary;
		cursor: pointer;
		height: 40px;
		margin-left: 10px;
		border-radius: 10px;
	}
	input[type="file"] {
		position: absolute;
		width: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		border: 0;
	}
}*/
.input-search { background: url("../_images/common/icon-s-search.png") no-repeat top 12px right 15px #fff; background-size: 16px; }

/* Layout */
#container { width: 1920px; margin: 0 auto; display: flex; }

#contents { width: 1600px; background-color: #505562; }

.point { color: #FF7335 !important; }

#loading { position: fixed; left: 50%; top: 50%; display: inline-block; width: 68px; height: 68px; background: url("../_images/common/loading@2x.png") no-repeat center; background-size: 68px; animation: spin 1s linear infinite; }

@keyframes spin { 100% { transform: rotate(360deg); } }
#modal-wrap { width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 100; left: 0; top: 0; display: none; }
#modal-wrap .alert-wrap { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 0 20px 70px 20px; width: 280px; background: #fff; box-shadow: 0 10px 20px -8px rgba(6, 16, 88, 0.5); }
#modal-wrap .alert-wrap .title { margin-top: 30px; text-align: center; font-size: 16px; font-weight: 700; letter-spacing: -0.68px; }
#modal-wrap .alert-wrap .text { font-size: 14px; color: #CCCCCC; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .alert-wrap .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .alert-wrap .modal-btn-wrap li { width: 100%; }
#modal-wrap .alert-wrap .modal-btn-wrap li.pri { background: #FF7335; border-bottom-right-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li.sec { background: #CCCCCC; border-bottom-left-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li.full { background: #FF7335; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .alert-wrap .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap .modal-con { width: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; padding: 30px; padding-bottom: 50px; border: solid 2px #CCCCCC; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#modal-wrap .modal-con.w800 { width: 800px; }
#modal-wrap .modal-con .modal-close { display: block; width: 40px; height: 40px; position: absolute; top: -1px; right: 0; background: url("../_images/common/icon-s-cross-w@2x.png") no-repeat center; background-size: 24px; background-color: #CCCCCC; text-indent: -9999px; }
#modal-wrap .modal-con .bottom-con { margin-top: 10px; border: 1px solid #dedede; padding: 10px; font-size: 14px; letter-spacing: -0.59px; color: #CCCCCC; line-height: 1.5; }
#modal-wrap .modal-con .bottom-con dt { margin-bottom: 20px; }
#modal-wrap .modal-con .bottom-con dd:not(:last-child) { margin-bottom: 20px; }
#modal-wrap .modal-con .title { margin-top: 22px; font-size: 20px; font-weight: 700; letter-spacing: -0.85px; color: #000; padding-bottom: 10px; border-bottom: 2px solid #CCCCCC; display: flex; justify-content: space-between; align-items: flex-end; }
#modal-wrap .modal-con .title span { font-weight: 400; font-size: 14px; }
#modal-wrap .modal-con .sub-title { margin-top: 30px; font-size: 16px; font-weight: 700; letter-spacing: -0.68px; color: #000; }
#modal-wrap .modal-con .box-sub-title { margin-top: 30px; border: 1px solid #dedede; line-height: 1.6; letter-spacing: -0.59px; color: #CCCCCC; background-color: #f5f5f5; padding: 10px; }
#modal-wrap .modal-con .box-sub-title strong { color: #FF7335; font-weight: 700; }
#modal-wrap .modal-con .box-select-radio { width: 100%; margin-top: 20px; }
#modal-wrap .modal-con .box-select-radio .box-item { width: 100%; align-items: center; display: flex; justify-content: space-between; border-radius: 20px; border: solid 1px #dedede; padding: 20px; line-height: 20px; position: relative; cursor: pointer; }
#modal-wrap .modal-con .box-select-radio .box-item p { text-align: left; }
#modal-wrap .modal-con .box-select-radio .box-item.marbottom:not(:last-child) { margin-bottom: 10px; }
#modal-wrap .modal-con .box-select-radio .box-item.on { border-color: #FF7335; color: #FF7335; }
#modal-wrap .modal-con .box-select-radio .box-item.on:after { display: block; width: 20px; height: 20px; position: absolute; top: 50%; transform: translateY(-50%); right: 15px; content: ""; background: url("../_images/common/radio@2x.png") no-repeat center/20px; }
#modal-wrap .modal-con .text { font-size: 14px; color: #CCCCCC; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .modal-con .agree-wrap { margin-top: 10px; display: flex; justify-content: space-between; }
#modal-wrap .modal-con .agree-wrap .agree-title { font-size: 14px; font-weight: 500; letter-spacing: -0.59px; color: #CCCCCC; }
#modal-wrap .modal-con .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .modal-con .modal-btn-wrap li { width: 100%; }
#modal-wrap .modal-con .modal-btn-wrap li.pri { background: #FF7335; border-bottom-right-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li.sec { background: #CCCCCC; border-bottom-left-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li.full { background: #FF7335; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .modal-con .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap .modal-aco { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; padding: 30px; border: solid 4px #FF7335; }
#modal-wrap .modal-aco .btn-close { display: block; width: 20px; height: 20px; position: absolute; top: 24px; right: 25px; background: url(../_images/common/icon-s-cross@2x.png) no-repeat center; background-size: 20px; text-indent: -9999px; }
#modal-wrap .modal-aco .acodion-wrap { max-height: 600px; overflow: auto; margin-top: 36px; border-top: solid 2px #FF7335; }
#modal-wrap .modal-aco .acodion-wrap .acodion { border-bottom: solid 1px #3C4352; width: 600px; }
#modal-wrap .modal-aco .acodion-wrap .acodion .btn-aco { padding-left: 20px; width: 100%; position: relative; font-size: 14px; font-weight: 700; color: #CCCCCC; line-height: 40px; text-align: left; }
#modal-wrap .modal-aco .acodion-wrap .acodion .btn-aco:after { content: ""; top: 50%; right: 0; transform: translateY(-50%); width: 40px; height: 40px; position: absolute; background: url("../_images/common/icon-s-caret-down@2x.png") no-repeat center; background-size: 20px; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con { padding: 10px 0 0 20px; border-top: solid 1px #3C4352; display: none; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con .flex { flex-wrap: wrap; }
#modal-wrap .modal-aco .acodion-wrap .acodion .aco-con .flex label { width: calc(100% / 3); margin: 0; margin-bottom: 10px; }
#modal-wrap .modal-aco .acodion-wrap .acodion.on .btn-aco:after { background-image: url("../_images/common/icon-s-caret-up@2x.png"); }
#modal-wrap .modal-aco .title { font-size: 16px; font-weight: 700; letter-spacing: -0.68px; color: #CCCCCC; }
#modal-wrap .modal-aco .text { font-size: 14px; color: #CCCCCC; margin-top: 20px; text-align: center; line-height: 1.6; }
#modal-wrap .modal-aco .modal-btn-wrap { width: 100%; border-radius: 0 0 20px 20px; position: absolute; left: 0; bottom: 0; height: 40px; display: flex; }
#modal-wrap .modal-aco .modal-btn-wrap li { width: 100%; }
#modal-wrap .modal-aco .modal-btn-wrap li.pri { background: #FF7335; border-bottom-right-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li.sec { background: #CCCCCC; border-bottom-left-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li.full { background: #FF7335; border-bottom-right-radius: 19px; border-bottom-left-radius: 19px; }
#modal-wrap .modal-aco .modal-btn-wrap li button { line-height: 40px; text-align: center; width: 100%; color: #fff; }
#modal-wrap.block { display: block; }

.modal-scroll { max-height: 70vh; overflow: auto; }

.code-wrap { margin-top: 20px; border-top: 2px solid #454545; }
.code-wrap .code-top { padding: 10px 0; display: flex; justify-content: space-between; border-bottom: 1px solid #454545; }
.code-wrap .code-top button { width: 57px; height: 40px; background: #FF7335; color: #fff; border-radius: 10px; }
.code-wrap .code-body { padding-top: 10px; border-bottom: 1px solid #3C4352; padding-bottom: 5px; }
.code-wrap .code-body .item { display: flex; justify-content: space-between; padding-bottom: 5px; }
.code-wrap .code-body .item button { width: 57px; height: 40px; border: 1px solid #FF7335; color: #FF7335; border-radius: 10px; }

.dd-ui { width: 40px; height: 40px; background: url("../_images/common/icon-s-menu@2x.png") no-repeat center; background-size: 16px; border: 1px solid #454545; border-radius: 10px; }

#lnb { position: sticky; top: 0; width: 320px; height: 100vh; background-color: #FF7335; }
#lnb .top { height: 123px; padding-top: 50px; padding-bottom: 40px; display: flex; justify-content: center; }
#lnb .top .lalanow_logo { width: 186px; height: 32px; background: url("../_images/common/lala_now.png") no-repeat center; background-size: 186px; }
#lnb .top .lalanow_logo a { display: block; width: 100%; height: 100%; }
#lnb .menu-wrap { width: 270px; margin: 0 25px; background-color: rgba(255, 255, 255, 0.05); padding: 15px; }
#lnb .menu-wrap ul li { margin-bottom: 10px; height: 50px; }
#lnb .menu-wrap ul li:last-child { margin-bottom: 0; }
#lnb .menu-wrap ul li a { display: block; line-height: 50px; padding-left: 48px; font-size: 16px; font-weight: 400; letter-spacing: -0.05em; color: #D4D5D9; background: url("../_images/common/shop.png") no-repeat 20px 50%/18px; }
#lnb .menu-wrap ul li a.icon2 { background-image: url("../_images/common/user-octagon.png"); }
#lnb .menu-wrap ul li a.icon2.on { color: #ffffff; background-image: url("../_images/common/user-octagon_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu-wrap ul li a.icon3 { background-image: url("../_images/common/shop.png"); }
#lnb .menu-wrap ul li a.icon3.on { color: #ffffff; background-image: url("../_images/common/shop_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu-wrap ul li a.icon4 { background-image: url("../_images/common/3d-cube-scan.png"); }
#lnb .menu-wrap ul li a.icon4.on { color: #ffffff; background-image: url("../_images/common/3d-cube-scan_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu-wrap ul li a.icon5 { background-image: url("../_images/common/grid-6.png"); }
#lnb .menu-wrap ul li a.icon5.on { color: #ffffff; background-image: url("../_images/common/grid-6_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu-wrap ul li a.icon6 { background-image: url("../_images/common/user-search.png"); }
#lnb .menu-wrap ul li a.icon6.on { color: #ffffff; background-image: url("../_images/common/user-search_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu-wrap ul li a.icon7 { background-image: url("../_images/common/note.png"); }
#lnb .menu-wrap ul li a.icon7.on { color: #ffffff; background-image: url("../_images/common/note_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu-wrap ul li a.icon8 { background-image: url("../_images/common/setting-2.png"); }
#lnb .menu-wrap ul li a.icon8.on { color: #ffffff; background-image: url("../_images/common/setting-2_w.png"); background-color: #FF820D; border-radius: 5px; }
#lnb .menu { width: 250px; height: calc(100vh - 200px); border-radius: 0 50px 30px 40px; padding: 30px; }
#lnb .menu > ul > li { margin-bottom: 20px; }
#lnb .menu > ul > li > a { display: block; font-size: 16px; color: #dedede; padding-left: 30px; background: url("../_images/common/plus@2x.png") no-repeat left center; background-size: 20px; line-height: 20px; text-decoration: none; }
#lnb .menu > ul > li > a.on { background: url("../_images/common/minus@2x.png") no-repeat left center/20px; color: #fff; font-weight: 700; }
#lnb .menu > ul > li ul { padding: 10px 0 0 40px; display: none; }
#lnb .menu > ul > li ul li { margin: 0; }
#lnb .menu > ul > li ul li a { font-size: 14px; background: none; line-height: 30px; padding: 0; color: #dedede; font-weight: 400; text-decoration: none; }
#lnb .menu > ul > li ul li a.on { color: #fff; font-weight: 700; }
#lnb .bg { position: absolute; top: 0; right: 0; border-radius: 0 50px 30px 40px; content: ""; display: block; width: 50vw; background-color: #000000; height: calc(100vh - 200px); }

.main-wrapper { padding: 30px; }
.main-wrapper .main-topwrap { width: 1540px; height: 60px; display: flex; align-items: center; justify-content: space-between; background-color: #272E3F; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06); border-radius: 5px; font-family: 'Montserrat'; letter-spacing: -0.05em; font-weight: 400; color: #ffffff; }
.main-wrapper .main-topwrap .main-top-left { margin-left: 30px; font-size: 18px; }
.main-wrapper .main-topwrap .main-top-right { display: flex; font-size: 15px; align-items: center; }
.main-wrapper .main-topwrap .main-top-right span { color: #FF7335; }
.main-wrapper .main-topwrap .alarm { position: relative; }
.main-wrapper .main-topwrap .alarm button { width: 24px; height: 24px; background: url("../_images/common/notification.png") no-repeat center/24px; }
.main-wrapper .main-topwrap .alarm span { display: block; width: 14px; height: 14px; background-color: #FF7335; position: absolute; top: 2px; left: 14px; color: #fff; font-weight: 700; font-size: 10px; text-align: center; line-height: 14px; border-radius: 100%; }
.main-wrapper .main-topwrap .books button { width: 24px; height: 24px; background: url("../_images/common/book.png") no-repeat center/24px; }
.main-wrapper .main-topcon { margin-top: 15px; width: 1540px; height: 100px; display: flex; align-items: center; justify-content: space-between; font-weight: 500; font-size: 20px; color: #FFFFFF; letter-spacing: -0.05em; }
.main-wrapper .main-topcon .item1 { display: flex; justify-content: space-between; align-items: center; padding-left: 30px; padding-right: 30px; width: calc((100% - 30px) / 3); height: 100px; background: rgba(255, 255, 255, 0.1); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06); border-radius: 5px; }
.main-wrapper .main-topcon .item1 .img-1 { width: 27px; height: 30px; background: url("../_images/common/microphone.png") no-repeat center/27px; }
